<?xml version="1.0" encoding="utf-8" ?>
<log4net debug="true">
  <root>
    <level value="ALL" />
    <appender-ref ref="LogFileAppenderInfo" />
    <appender-ref ref="LogFileAppenderError" />
  </root>
  <appender name="LogFileAppenderError" type="log4net.Appender.RollingFileAppender">
    <file value=".\\Logs\\App.log" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value=".yyyy-MM-dd" />
    <maxSizeRollBackups value="-1" />
    <maximumFileSize value="1MB" />
    <countDirection value="1"/>
    <countDirection value="0" />
    <lockingModel type="log4net.Appender.FileAppender.MinimalLock" />
    <staticLogFileName value="false" />
    <PreserveLogFileNameExtension value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level - %message%newline " />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="ERROR" />
      <levelMax value="FATAL" />
    </filter>

  </appender>
  <appender name="LogFileAppenderInfo" type="log4net.Appender.RollingFileAppender">
    <file value=".\\Logs\\App.Info.log" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value=".yyyy-MM-dd" />
    <maxSizeRollBackups value="-1" />
    <maximumFileSize value="1MB" />
    <countDirection value="1"/>
    <countDirection value="0" />
    <lockingModel type="log4net.Appender.FileAppender.MinimalLock" />
    <staticLogFileName value="false" />
    <PreserveLogFileNameExtension value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level - %message%newline " />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG" />
      <levelMax value="WARN" />
    </filter>

  </appender>
</log4net>